<% content_for :page_title do %>
  Project list
<% end %>

<div id="projects">
<%= link_to "➕ New Project", new_project_path,class: "btn btn-new"  %>
  <table class="user-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
   <%= render partial: "project_row", collection: @projects, as: :project %>
  </tbody>
</table>
</div>
